{% extends "base.html" %}

{% block content %}
<header class="masthead text-center">
  <div class="masthead-content">
    <div class="container">

      <div class="card text-center m-2 bg-warning">
        <div class="card-header bg-danger">
          {{ event.location }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <p class="card-text">{{ event.description }}</p>

          <a href="{% url 'book' event_id=event.id %}" class="btn btn-primary">Book</a>
      
          <a href="{% url 'update' event_id=event.id %}" class="btn btn-primary">Update</a>
          <a href="{% url 'delete' event_id=event.id %}" class="btn btn-primary">Delete</a>
          <p class="card-text">{{ event.seats }} seats</p>
        </div>
        <div class="card-footer text-muted">
          {{ event.datetime }}
        </div>
      </div>

    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}
